.header-logo {
  float: left;
  width: 150px;
  line-height: 64px;
  height: 31px;
  margin: 16px 24px 16px 0px;
  background: rgba(223, 212, 212, 0.3);
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}
.header {
  background: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 8px fade(#000, 15);
}
